.intro__quote-author {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
  .intro__quote-author {
    padding-left: 300px;
  }
}

@media screen and (max-width: 540px) {
  .intro__quote-author {
    padding-left: 0;
  }
}
