@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  src: url(./Fonts/Inter_Web/Inter-Regular.woff) format('woff'), url(./Fonts/Inter_Web/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url(./Fonts/Inter_Web/Inter-Black.woff) format('woff'), url(./Fonts/Inter_Web/Inter-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url(./Fonts/Inter_Web/Inter-SemiBold.woff) format('woff'), url(./Fonts/Inter_Web/Inter-SemiBold.woff2) format('woff2');
}

.page {
  background-color: #2a2c2f;
}

.content {
  max-width: 1280px;
  margin: auto;
  font-family: 'Inter';
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  text-align: center;
  padding: 34px 0 92px;
}

.logo {
  max-width: 271px;
}

.lead {
  max-width: 984px;
  margin: auto;
  text-align: center;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
  max-width: 793px;
}

.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  max-width: 720px;
  margin: 32px auto 64px;
}

.lead__image {
  width: 100%;
}

.intro {
  max-width: 984px;
  padding: 92px 0 118px;
  margin: auto;
}

.intro__title {
  max-width: 785px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.intro__quote {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  margin: 40px 0 10px;
}

.intro__quote-author {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  margin: 0 0 32px;
}

.intro__content {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
}

.photo-grid {
  max-width: 1184px;
  gap: 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 0 92px;
  list-style-type: none;
}

.photo-grid__item {
  width: 100%;
}

.places {
  max-width: 987px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 460px auto;
  grid-template-areas: "title website" "image main-text" "button main-text";
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 92px;
}

.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  max-width: 460px;
  grid-area: title;
}

.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: website;
}

.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0;
  color: #aaa;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 8px 0 0;
}

.place__image {
  width: 100%;
  max-width: 460px;
  object-fit: cover;
  grid-area: image;
}

.place__main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  grid-area: main-text;
}

.place__paragraph {
  margin: 0 0 25px;
}

.place__paragraph:last-child {
  margin: 0;
}

.button {
  background: #0278FE;
  border-radius: 4px;
  max-width: 248px;
  height: 48px;
  z-index: 2;
  transition: background 0.2s linear;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: button;
}

.button:hover {
  background: #0063d2;
}

.button_cover {
  width: 100%;
  max-width: 137px;
  margin: 0 auto 243px;
}

.cover {
  width: 100%;
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover__content {
  z-index: 1;
  text-align: center;
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 243px 0 0;
  color: #fffdfd;
}

.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 32px 0 32px;
}

.cover__image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s linear;
  object-fit: cover;
}

.cover:hover .cover__image {
  opacity: 0.3;
}

.footer {
  text-align: center;
  padding: 92px 0 24px;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 769px) and (max-width: 920px) {
  .place {
    grid-template-rows: auto 420px auto;
  }
  .place__image {
    max-width: 420px;
  }
  .place__title {
    max-width: 200px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0 24px 88px;
  }
  .places {
    max-width: 987px;
    padding: 0 24px;
    gap: 48px 28px;
  }
  .place {
    padding-bottom: 72px;
    grid-template-rows: auto 340px auto;
  }
  .place:last-child {
    padding-bottom: 88px;
  }
  .place__image {
    max-width: 340px;
  }
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    max-width: 340px;
  }
  .cover {
    background-size: cover;
    background-position: center;
  }
  .cover__title {
    margin: 150px 0 0;
  }
  .button_cover {
    margin: 0 auto 150px;
  }
  .footer {
    padding-top: 88px;
  }
}

/* DA SISTEMARE PLACES A RISOLUZIONE 768-525 */

@media screen and (min-width: 525px) and (max-width: 768px) {
  .place {
    grid-template-rows: auto auto auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .lead__title {
    font-size: 60px;
  }
  .lead__subtitle {
    font-size: 20px;
  }
  .cover__title {
    margin: 80px 0 0;
  }
  .button_cover {
    margin: 0 auto 80px;
  }
}

@media screen and (min-width: 426px) and (max-width: 525px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "title" "website" "image" "main-text" "button";
  }
  .place__image {
    width: 100%;
    max-width: 460px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 20px 0 50.54px;
  }
  .logo {
    max-width: 200px;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    padding: 0 16px 16px;
  }
  .lead__subtitle {
    padding: 0 16px 40px;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }
  .intro {
    padding: 64px 16px 90px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 1.25;
  }
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 0 16px 64px;
    gap: 12px;
  }
  .places {
    padding-bottom: 64px;
  }
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "title" "website" "image" "main-text" "button";
    padding-bottom: 48px;
    gap: 30px 0;
  }
  .place:last-child {
    padding-bottom: 0;
  }
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 16px;
  }
  .place__website {
    padding: 0 16px;
  }
  .place__link {
    margin: 12px 0 0;
  }
  .place__main-text {
    font-size: 16px;
  }
  .place__paragraph {
    padding: 0 16px;
  }
  .button_mobile {
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
  }
  .cover {
    width: 100%;
    background-size: cover;
  }
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 0 16px;
    margin: 46px 0 0;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 16px;
    margin: 0;
  }
  .button_cover {
    margin: 0 auto 45px;
  }
  .footer {
    margin: 0;
    padding: 64px 0 24px;
  }
  .footer__copyright {
    line-height: 1;
  }
}

@media screen and (max-width: 300px) {
  .button {
    width: 100%;
  }
}
