@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/inter_web/Inter-Regular.woff) format('woff'), url(../fonts/inter_web/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/inter_web/Inter-Black.woff) format('woff'), url(../fonts/inter_web/Inter-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/inter_web/Inter-SemiBold.woff) format('woff'), url(../fonts/inter_web/Inter-SemiBold.woff2) format('woff2');
}
