.cover {
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/cover__background.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 746px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 600px;
  }
}

@media screen and (max-width: 525px) {
  .cover {
    min-height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 254px;
  }
}
