.cover {
  width: 100%;
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
