.cover {
  width: 100%;
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .cover {
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    background-size: cover;
  }
}
