.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 243px 0 0;
  color: #fffdfd;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .cover__title {
    margin: 150px 0 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .cover__title {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    padding: 0 0 16px;
    margin: 46px 0 0;
  }
}
