.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 460px auto;
  grid-template-areas: "title website" "image main-text" "button main-text";
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 92px;
}

@media screen and (min-width: 526px) and (max-width: 920px) {
  .place {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 920px) {
  .place {
    grid-template-rows: auto 420px auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .place {
    padding-bottom: 72px;
  }
  .place:last-child {
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 711px) and (max-width: 768px) {
  .place {
    grid-template-rows: auto 340px auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 710px) {
  .place {
    grid-template-rows: auto 285px auto;
  }
}

@media screen and (min-width: 526px) and (max-width: 600px) {
  .place {
    grid-template-rows: auto 233px auto;
  }
}

@media screen and (max-width: 525px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "title" "website" "image" "main-text" "button";
  }
}

@media screen and (max-width: 425px) {
  .place {
    padding-bottom: 48px;
    gap: 30px 0;
  }
  .place:last-child {
    padding-bottom: 0;
  }
}
