.footer {
  text-align: center;
  padding: 92px 0 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 64px 0 24px;
  }
}
